$background-color: black;

body {
  @if ($background-color == white) {
    color: black;
  } @else {
    color: #7ff;
  }

  background-color: $background-color;
}

.container {
  .nav-item {
    .nav-link {
      color: white;
    }
  }
}
